<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SECTION_NAME</key>
		<string></string>
		<key>SECTION_CONTENTS</key>
		<array>
			<dict>
				<key>DATA_KEY</key>
				<string>news</string>
				<key>CONTROLLER</key>
				<string>HomeViewController</string>
				<key>LABEL</key>
				<string>News</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION_NAME</key>
		<string>Settori</string>
		<key>SECTION_CONTENTS</key>
		<array>
			<dict>
				<key>DATA_KEY</key>
				<string>AreaFinanziaria</string>
				<key>CONTROLLER</key>
				<string>AreaBaseController</string>
				<key>LABEL</key>
				<string>Finanziamenti</string>
				<key>ID</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>DATA_KEY</key>
				<string>AreaAssicurativa</string>
				<key>CONTROLLER</key>
				<string>AreaBaseController</string>
				<key>LABEL</key>
				<string>Assicurazioni</string>
				<key>ID</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>DATA_KEY</key>
				<string>AreaCureMediche</string>
				<key>CONTROLLER</key>
				<string>AreaBaseController</string>
				<key>LABEL</key>
				<string>Cure mediche rateali </string>
				<key>ID</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>DATA_KEY</key>
				<string>AreaLeasing</string>
				<key>CONTROLLER</key>
				<string>AreaBaseController</string>
				<key>LABEL</key>
				<string>Leasing e Noleggio</string>
				<key>ID</key>
				<integer>14</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION_NAME</key>
		<string>Convenzioni</string>
		<key>SECTION_CONTENTS</key>
		<array>
			<dict>
				<key>DATA_KEY</key>
				<string>AreaTurismo</string>
				<key>CONTROLLER</key>
				<string>AreaBaseController</string>
				<key>LABEL</key>
				<string>Viaggi e Turismo</string>
				<key>ID</key>
				<integer>15</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION_NAME</key>
		<string> </string>
		<key>SECTION_CONTENTS</key>
		<array>
			<dict>
				<key>DATA_KEY</key>
				<string>member</string>
				<key>LABEL</key>
				<string>Diventa Socio</string>
				<key>CONTROLLER</key>
				<string>RichiestaIscrizioneController</string>
			</dict>
			<dict>
				<key>DATA_KEY</key>
				<string>contacts</string>
				<key>CONTROLLER</key>
				<string>ContattiViewController</string>
				<key>LABEL</key>
				<string>Contatti</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
